# Created by httpswww.toptal.comdevelopersgitignoreapijupyternotebooks
# Edit at httpswww.toptal.comdevelopersgitignoretemplates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website httpjupyter.org

.ipynb_checkpoints
.ipynb_checkpoints
*.gz
post_with_only_code_snippets_final.csv
.gitattributes
code_static_analysis/
.gradle
data/
gnn/
transformer/
Datasets for VELVET/
finetune_gnn/
finetune_transformer/
FFmpeg/
httpd/
libtiff/
nginx/
openssl/


# IPython
profile_default
ipython_config.py
__pycache__/

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints

# End of httpswww.toptal.comdevelopersgitignoreapijupyternotebooks
